@import './variables.css';

.navbar {
  font-weight: var(--fw-bold);
}

.shopping-bag__badge {
  top: 5px;
  right: -15px;
  font-size: 10px;
  padding: 2px 7px;
}

.shopping-bag {
  width: 100px;
  font-weight: var(--fw-bold) !important;
  font-size: 14px !important;
  color: var(--grey-color) !important;
}

.bi-bag-fill::before {
  color: var(--orange-color);
  /* align-self: flex-start; */
}

.navbar-brand__code-it {
  color: var(--orange-color)
}

.navbar-brand__code-it::before, .active::before {
  content: '';
  position: absolute;
  background-color: var(--orange-color);
  height: 3px;
  width: 8px;
  top: 30px;
}

.active {
  position: relative;
}

.navbar-brand__store {
  letter-spacing: 7px;  
  font-size: var(--small);
  font-weight: var(--fw-semiBold);
  margin-top: -2px;
  color: var(--grey-color);
}

.navigation {
  font-size: var(--small);
}

.nav-link {
  color: var(--grey-color) !important;
}

.active-page {
  color: var(--orange-color) !important;
}

.bi-search {
  margin-top: -4px;
}

/* Search button */


@media (max-width: 992px) {
  .shopping-bag {
    margin-right: 1.5rem;
  }

  .bi-search {
    padding: 0 !important;
  }
}

@media (min-width: 992px) {
  .shopping-bag {
    margin-left: 4rem;
  }
}