@import './variables.css';

.card-image {
  width: 100%;
    height: 17vw;
    object-fit: cover;
}

.orange-line {
  content: '';
  background-color: var(--orange-color);
  height: 3px;
  width: 8px;
  top: -3px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.phone-name {
  margin: 0;
  font-weight: var(--fw-semiBold);
}

.phone-price {
  color: var(--orange-color);
  font-weight: var(--fw-semiBold);
}

.bi-trash-fill, .bi-cart-fill {
  padding: 0.5rem 1rem;
}

.clear-btn {
  border: 2px solid var(--grey-color);
  background-color: transparent;
  font-size: var(--small);
  font-weight: var(--fw-semiBold);
  color: var(--grey-color);
}